@import "tailwindcss";

body {
  margin: 0px;
  color: white;
  font-family: var(--font-sans);
}

@theme {
  --color-cerulean-blue-800: #0a42c3;
  --color-pickled-bluewood-950: #202531;

  --font-sans: "Poppins";
}
